body{
    margin:0;
}

header{
    background-color: #3DBEFF;
    padding: 25px 20px;
}

header .img{
    display: inline-block;
}

header ul{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 0;
}

header li{
    display: inline-block;
}

header li a {
    padding: 15px;
    color: white;
    display: inline-block;
    text-decoration: none;
}

header li a:hover{
    background-color: #6DCEFF;
    border-radius: 20px;
}

.Page1{
    background-color: #3DBEFF;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.Page1 h1{
    padding-top: 40px;
    margin: 0;
}

.Page2{
    display: block;
    width: 50%;
}

.konten2{
    display: inline-block;
    vertical-align: middle;
    padding: 350px 20px;
    
}

.Page2 img{
    width: 50%;
    position: absolute;
    right: 0;
    vertical-align: middle;
    margin-bottom: 10px;
}

.Page3{
    display: block;
}

.konten3{
    width: 50%; 
    position: absolute;
    right: 0;
    vertical-align: middle;
    padding: 350px 20px;
}

.Page3 img{
    width: 50%;
    margin-bottom: 10px;
}